.f-ar-round{background: url('../images/icon/flags_round_new_25.png') 0px 0px;width:25px; height:25px;}
.f-bg-round{background: url('../images/icon/flags_round_new_25.png') 0px -50px;width:25px; height:25px;}
.f-bn-round{background: url('../images/icon/flags_round_new_25.png') 0px -75px;width:25px; height:25px;}
.f-bo-round{background: url('../images/icon/flags_round_new_25.png') 0px -100px;width:25px; height:25px;}
.f-br-round{background: url('../images/icon/flags_round_new_25.png') 0px -125px;width:25px; height:25px;}
.f-bs-round{background: url('../images/icon/flags_round_new_25.png') 0px -150px;width:25px; height:25px;}
.f-ca-round{background: url('../images/icon/flags_round_new_25.png') 0px -175px;width:25px; height:25px;}
.f-cf-round{background: url('../images/icon/flags_round_new_25.png') 0px -200px;width:25px; height:25px;}
.f-ck-round{background: url('../images/icon/flags_round_new_25.png') 0px -225px;width:25px; height:25px;}
.f-cs-round{background: url('../images/icon/flags_round_new_25.png') 0px -250px;width:25px; height:25px;}
.f-cv-round{background: url('../images/icon/flags_round_new_25.png') 0px -275px;width:25px; height:25px;}
.f-cy-round{background: url('../images/icon/flags_round_new_25.png') 0px -300px;width:25px; height:25px;}
.f-da-round{background: url('../images/icon/flags_round_new_25.png') 0px -325px;width:25px; height:25px;}
.f-de-round{background: url('../images/icon/flags_round_new_25.png') 0px -350px;width:25px; height:25px;}
.f-dr-round{background: url('../images/icon/flags_round_new_25.png') 0px -375px;width:25px; height:25px;}
.f-el-round{background: url('../images/icon/flags_round_new_25.png') 0px -400px;width:25px; height:25px;}
.f-en-round{background: url('../images/icon/flags_round_new_25.png') 0px -425px;width:25px; height:25px;}
.f-eo-round{background: url('../images/icon/flags_round_new_25.png') 0px -450px;width:25px; height:25px;}
.f-es-round{background: url('../images/icon/flags_round_new_25.png') 0px -475px;width:25px; height:25px;}
.f-et-round{background: url('../images/icon/flags_round_new_25.png') 0px -500px;width:25px; height:25px;}
.f-eu-round{background: url('../images/icon/flags_round_new_25.png') 0px -525px;width:25px; height:25px;}
.f-fa-round{background: url('../images/icon/flags_round_new_25.png') 0px -550px;width:25px; height:25px;}
.f-fi-round{background: url('../images/icon/flags_round_new_25.png') 0px -575px;width:25px; height:25px;}
.f-fr-round{background: url('../images/icon/flags_round_new_25.png') 0px -600px;width:25px; height:25px;}
.f-ga-round{background: url('../images/icon/flags_round_new_25.png') 0px -625px;width:25px; height:25px;}
.f-gd-round{background: url('../images/icon/flags_round_new_25.png') 0px -650px;width:25px; height:25px;}
.f-gl-round{background: url('../images/icon/flags_round_new_25.png') 0px -675px;width:25px; height:25px;}
.f-gu-round{background: url('../images/icon/flags_round_new_25.png') 0px -700px;width:25px; height:25px;}
.f-ha-round{background: url('../images/icon/flags_round_new_25.png') 0px -725px;width:25px; height:25px;}
.f-hi-round{background: url('../images/icon/flags_round_new_25.png') 0px -750px;width:25px; height:25px;}
.f-hr-round{background: url('../images/icon/flags_round_new_25.png') 0px -775px;width:25px; height:25px;}
.f-hu-round{background: url('../images/icon/flags_round_new_25.png') 0px -800px;width:25px; height:25px;}
.f-hy-round{background: url('../images/icon/flags_round_new_25.png') 0px -825px;width:25px; height:25px;}
.f-id-round{background: url('../images/icon/flags_round_new_25.png') 0px -850px;width:25px; height:25px;}
.f-ig-round{background: url('../images/icon/flags_round_new_25.png') 0px -875px;width:25px; height:25px;}
.f-is-round{background: url('../images/icon/flags_round_new_25.png') 0px -900px;width:25px; height:25px;}
.f-it-round{background: url('../images/icon/flags_round_new_25.png') 0px -925px;width:25px; height:25px;}
.f-iw-round{background: url('../images/icon/flags_round_new_25.png') 0px -950px;width:25px; height:25px;}
.f-ja-round{background: url('../images/icon/flags_round_new_25.png') 0px -975px;width:25px; height:25px;}
.f-ka-round{background: url('../images/icon/flags_round_new_25.png') 0px -1000px;width:25px; height:25px;}
.f-kk-round{background: url('../images/icon/flags_round_new_25.png') 0px -1025px;width:25px; height:25px;}
.f-km-round{background: url('../images/icon/flags_round_new_25.png') 0px -1050px;width:25px; height:25px;}
.f-kn-round{background: url('../images/icon/flags_round_new_25.png') 0px -1075px;width:25px; height:25px;}
.f-ko-round{background: url('../images/icon/flags_round_new_25.png') 0px -1100px;width:25px; height:25px;}
.f-ku-round{background: url('../images/icon/flags_round_new_25.png') 0px -1125px;width:25px; height:25px;}
.f-la-round{background: url('../images/icon/flags_round_new_25.png') 0px -1150px;width:25px; height:25px;}
.f-lo-round{background: url('../images/icon/flags_round_new_25.png') 0px -1175px;width:25px; height:25px;}
.f-lt-round{background: url('../images/icon/flags_round_new_25.png') 0px -1200px;width:25px; height:25px;}
.f-lv-round{background: url('../images/icon/flags_round_new_25.png') 0px -1225px;width:25px; height:25px;}
.f-mk-round{background: url('../images/icon/flags_round_new_25.png') 0px -1250px;width:25px; height:25px;}
.f-ml-round{background: url('../images/icon/flags_round_new_25.png') 0px -1275px;width:25px; height:25px;}
.f-mn-round{background: url('../images/icon/flags_round_new_25.png') 0px -1300px;width:25px; height:25px;}
.f-mr-round{background: url('../images/icon/flags_round_new_25.png') 0px -1325px;width:25px; height:25px;}
.f-ms-round{background: url('../images/icon/flags_round_new_25.png') 0px -1350px;width:25px; height:25px;}
.f-mt-round{background: url('../images/icon/flags_round_new_25.png') 0px -1375px;width:25px; height:25px;}
.f-ne-round{background: url('../images/icon/flags_round_new_25.png') 0px -1400px;width:25px; height:25px;}
.f-nl-round{background: url('../images/icon/flags_round_new_25.png') 0px -1425px;width:25px; height:25px;}
.f-nn-round{background: url('../images/icon/flags_round_new_25.png') 0px -1450px;width:25px; height:25px;}
.f-no-round{background: url('../images/icon/flags_round_new_25.png') 0px -1475px;width:25px; height:25px;}
.f-om-round{background: url('../images/icon/flags_round_new_25.png') 0px -1500px;width:25px; height:25px;}
.f-pb-round{background: url('../images/icon/flags_round_new_25.png') 0px -1525px;width:25px; height:25px;}
.f-pl-round{background: url('../images/icon/flags_round_new_25.png') -25px 0px;width:25px; height:25px;}
.f-ps-round{background: url('../images/icon/flags_round_new_25.png') -25px -25px;width:25px; height:25px;}
.f-pt-round{background: url('../images/icon/flags_round_new_25.png') -25px -50px;width:25px; height:25px;}
.f-rm-round{background: url('../images/icon/flags_round_new_25.png') -25px -75px;width:25px; height:25px;}
.f-ro-round{background: url('../images/icon/flags_round_new_25.png') -25px -100px;width:25px; height:25px;}
.f-ru-round{background: url('../images/icon/flags_round_new_25.png') -25px -125px;width:25px; height:25px;}
.f-sa-round{background: url('../images/icon/flags_round_new_25.png') -25px -150px;width:25px; height:25px;}
.f-sh-round{background: url('../images/icon/flags_round_new_25.png') -25px -175px;width:25px; height:25px;}
.f-sk-round{background: url('../images/icon/flags_round_new_25.png') -25px -200px;width:25px; height:25px;}
.f-sl-round{background: url('../images/icon/flags_round_new_25.png') -25px -225px;width:25px; height:25px;}
.f-so-round{background: url('../images/icon/flags_round_new_25.png') -25px -250px;width:25px; height:25px;}
.f-sq-round{background: url('../images/icon/flags_round_new_25.png') -25px -275px;width:25px; height:25px;}
.f-sr-round{background: url('../images/icon/flags_round_new_25.png') -25px -300px;width:25px; height:25px;}
.f-sv-round{background: url('../images/icon/flags_round_new_25.png') -25px -325px;width:25px; height:25px;}
.f-sw-round{background: url('../images/icon/flags_round_new_25.png') -25px -350px;width:25px; height:25px;}
.f-ta-round{background: url('../images/icon/flags_round_new_25.png') -25px -375px;width:25px; height:25px;}
.f-tc-round{background: url('../images/icon/flags_round_new_25.png') -25px -400px;width:25px; height:25px;}
.f-tg-round{background: url('../images/icon/flags_round_new_25.png') -25px -425px;width:25px; height:25px;}
.f-th-round{background: url('../images/icon/flags_round_new_25.png') -25px -450px;width:25px; height:25px;}
.f-tl-round{background: url('../images/icon/flags_round_new_25.png') -25px -475px;width:25px; height:25px;}
.f-to-round{background: url('../images/icon/flags_round_new_25.png') -25px -500px;width:25px; height:25px;}
.f-tr-round{background: url('../images/icon/flags_round_new_25.png') -25px -525px;width:25px; height:25px;}
.f-ue-round{background: url('../images/icon/flags_round_new_25.png') -25px -550px;width:25px; height:25px;}
.f-ug-round{background: url('../images/icon/flags_round_new_25.png') -25px -575px;width:25px; height:25px;}
.f-uk-round{background: url('../images/icon/flags_round_new_25.png') -25px -600px;width:25px; height:25px;}
.f-ur-round{background: url('../images/icon/flags_round_new_25.png') -25px -625px;width:25px; height:25px;}
.f-vi-round{background: url('../images/icon/flags_round_new_25.png') -25px -650px;width:25px; height:25px;}
.f-xl-round{background: url('../images/icon/flags_round_new_25.png') -25px -675px;width:25px; height:25px;}
.f-yo-round{background: url('../images/icon/flags_round_new_25.png') -25px -700px;width:25px; height:25px;}
.f-zh-round{background: url('../images/icon/flags_round_new_25.png') -25px -725px;width:25px; height:25px;}
.f-zs-round{background: url('../images/icon/flags_round_new_25.png') -25px -750px;width:25px; height:25px;}
.f-zt-round{background: url('../images/icon/flags_round_new_25.png') -25px -775px;width:25px; height:25px;}
.f-zu-round{background: url('../images/icon/flags_round_new_25.png') -25px -800px;width:25px; height:25px;}
.f-am-round{background: url('../images/icon/flags_round_new_25.png') -25px -825px;width:25px; height:25px;}
.f-or-round{background: url('../images/icon/flags_round_new_25.png') 0px -1075px;width:25px; height:25px;}
.f-jw-round{background: url('../images/icon/flags_round_new_25.png') 0px -850px;width:25px; height:25px;}
.f-si-round{background: url('../images/icon/flags_round_new_25.png') -25px -850px;width:25px; height:25px;}
.f-mc-round{background: url('../images/icon/flags_round_new_25.png') -25px -900px;width:25px; height:25px;}
.f-tk-round{background: url('../images/icon/flags_round_new_25.png') -25px -875px;width:25px; height:25px;}
.f-fo-round{background: url('../images/icon/flags_round_new_25.png') -25px -925px;width:25px; height:25px;}
.f-az-round{background: url('../images/icon/flags_round_new_25.png') -25px -950px;width:25px; height:25px;}
.f-rw-round{background: url('../images/icon/flags_round_new_25.png') -25px -975px;width:25px; height:25px;}
.f-ln-round{background: url('../images/icon/flags_round_new_25.png') -25px -1000px;width:25px; height:25px;}
.f-st-round{background: url('../images/icon/flags_round_new_25.png') -25px -1025px;width:25px; height:25px;}
.f-sd-round{background: url('../images/icon/flags_round_new_25.png') -25px -1050px;width:25px; height:25px;}
.f-te-round{background: url('../images/icon/flags_round_new_25.png') -25px -1075px;width:25px; height:25px;}
.f-xh-round{background: url('../images/icon/flags_round_new_25.png') -25px -1100px;width:25px; height:25px;}
.f-su-round{background: url('../images/icon/flags_round_new_25.png') -25px -1125px;width:25px; height:25px;}
.f-as-round{background: url('../images/icon/flags_round_new_25.png') -25px -1150px;width:25px; height:25px;}
.f-ks-round{background: url('../images/icon/flags_round_new_25.png') -25px -1150px;width:25px; height:25px;}
.f-pa-round{background: url('../images/icon/flags_round_new_25.png') -25px -1150px;width:25px; height:25px;}
.f-be-round{background: url('../images/icon/flags_round_new_25.png') -25px -1175px;width:25px; height:25px;}
.f-my-round{background: url('../images/icon/flags_round_new_25.png') -25px -1200px;width:25px; height:25px;}
.f-ky-round{background: url('../images/icon/flags_round_new_25.png') -25px -1225px;width:25px; height:25px;}
.f-mg-round{background: url('../images/icon/flags_round_new_25.png') -25px -1250px;width:25px; height:25px;}
.f-uz-round{background: url('../images/icon/flags_round_new_25.png') -25px -1275px;width:25px; height:25px;}
